body {
  background-image: url(https://img3.stockfresh.com/files/e/ekapanova/m/97/1148866_stock-photo-animals-silhouette-seamless-pattern.jpg);
  background-repeat: repeat;
  background-size: 20%;
  font-family: sans-serif;
  margin-top: 80px;
}

.container {
  background-color: rgba(218, 247, 166, 0.80);
  color: #1B4F72;
}
